<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Wordle Solver</title>
  <meta name="description" content="Solving Wordle puzzles using Python, Flask, and &lt;/&gt; htmx" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.svg') }}" />
  <!-- htmx goodness -->
  <script src="https://unpkg.com/htmx.org@1.6.1"></script>
  <!-- auto tab between tiles -->
  <script src="{{ url_for('static', filename='wordleSolver.js' ) }}"></script>
</head>

<body>
  <header>
    <logo>
      <h1><a href="{{ url_for('index')}}" class="text-decoration-none">Wordle Solver</a></h1>
    </logo>
    <span id="info">ℹ️
      <span class="info-text">🟩 GREEN TILES:<br>
        Enter any letters you have placed correctly on your board (position matters).
        <br><br>
        🟨 YELLOW TILES:<br>
        Enter any valid letters that you incorrectly placed. Put each character(s) in the
        last position(s) you tried them.
        <br><br>
        ⬜️ GRAY TILES:<br>
        Enter every letter that you know is not in the word.
      </span>
    </span>
  </header>

  <section class="wordle-solver">
    <form name="wordleSolver" hx-post="{{ url_for('index')}}" hx-target="#replaceMe" onchange="clickMe('on')"
      onsubmit="clickMe('off')">
      <div class="inputs">
        <span class="title">
          Correct Letters
        </span>
        <span class="reset" onclick="resetTiles(this, 'correct')"> [Reset]</span>
        <div class="tiles">
          <input class="tile correct" type="text" name="c0" maxlength="1" autocomplete="off" oninput="autoTab(this)">
          <input class="tile correct" type="text" name="c1" maxlength="1" autocomplete="off" oninput="autoTab(this)">
          <input class="tile correct" type="text" name="c2" maxlength="1" autocomplete="off" oninput="autoTab(this)">
          <input class="tile correct" type="text" name="c3" maxlength="1" autocomplete="off" oninput="autoTab(this)">
          <input class="tile correct" type="text" name="c4" maxlength="1" autocomplete="off" oninput="autoTab(this)">
        </div>
        <span class="title">
          Valid Letters
        </span>
        <span class="reset" onclick="resetTiles(this, 'valid')"> [Reset]</span>
        <div class="tiles">
          <input class="tile valid" type="text" name="v0" maxlength="1" autocomplete="off" oninput="autoTab(this)">
          <input class="tile valid" type="text" name="v1" maxlength="1" autocomplete="off" oninput="autoTab(this)">
          <input class="tile valid" type="text" name="v2" maxlength="1" autocomplete="off" oninput="autoTab(this)">
          <input class="tile valid" type="text" name="v3" maxlength="1" autocomplete="off" oninput="autoTab(this)">
          <input class="tile valid" type="text" name="v4" maxlength="1" autocomplete="off" oninput="autoTab(this)">
        </div>
        <span class="title">
          Invalid Letters
        </span>
        <span class="reset" onclick="resetTiles(this, 'invalid')"> [Reset]</span>
        <div class="tiles">
          <input class="tile invalid" type="text" name="i0" maxlength="1" autocomplete="off" oninput="autoTab(this)">
          <input class="tile invalid" type="text" name="i1" maxlength="1" autocomplete="off" oninput="autoTab(this)">
          <input class="tile invalid" type="text" name="i2" maxlength="1" autocomplete="off" oninput="autoTab(this)">
          <input class="tile invalid" type="text" name="i3" maxlength="1" autocomplete="off" oninput="autoTab(this)">
          <input class="tile invalid" type="text" name="i4" maxlength="1" autocomplete="off" oninput="autoTab(this)">
          <input class="tile invalid" type="text" name="i5" maxlength="1" autocomplete="off" oninput="autoTab(this)">
          <input class="tile invalid" type="text" name="i6" maxlength="1" autocomplete="off" oninput="autoTab(this)">
          <input class="tile invalid" type="text" name="i7" maxlength="1" autocomplete="off" oninput="autoTab(this)">
          <input class="tile invalid" type="text" name="i8" maxlength="1" autocomplete="off" oninput="autoTab(this)">
          <input class="tile invalid" type="text" name="i9" maxlength="1" autocomplete="off" oninput="autoTab(this)">
          <input class="tile invalid" type="text" name="i10" maxlength="1" autocomplete="off" oninput="autoTab(this)">
          <input class="tile invalid" type="text" name="i11" maxlength="1" autocomplete="off" oninput="autoTab(this)">
          <input class="tile invalid" type="text" name="i12" maxlength="1" autocomplete="off" oninput="autoTab(this)">
          <input class="tile invalid" type="text" name="i13" maxlength="1" autocomplete="off" oninput="autoTab(this)">
          <input class="tile invalid" type="text" name="i14" maxlength="1" autocomplete="off" oninput="autoTab(this)">
        </div>
        <div class="update text-align-center">
          <button id="updateButton" class="update" type="submit">Update Possible Words</button>
        </div>
      </div>
    </form>
  </section>

  <section class="solutions" id="replaceMe">
    {% include "words.html" %}
  </section>

  <footer class="text-align-center">
    <p>⚙️ Powered by 🐍 <a href="https://www.python.org/">Python</a>, <a
        href="https://flask.palletsprojects.com/en/2.0.x/">Flask</a>, and <a href="https://htmx.org/">&lt;/&gt;
        htmx</a>.</p>
    <p>&copy; 2022 <a href="https://github.com/joshbduncan">Josh Duncan</a></p>
  </footer>

</body>

</html>